html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

#map {
  bottom:0px;
  height: 100%;
  right: 0px;
}

.box {
  width: 200px;
  margin: 5px;
}

.option-box {
  background: #fff;
  height: 100%;
  line-height: 38px;
  padding: 10px 10px 20px 10px;
  text-align: left;
  width: 340px;
  overflow-y: scroll;
}

.text{
  line-height: normal;
  font-style: normal;
  font-variant: small-caps;
  line-height: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style-type: none;
}

svg {
  width: 48px;
  fill: #000000;
  text-align: center;
  margin-top: 5px;
}

.nav {
  z-index: 10;
  background-color: #fff;
  width: 300px;
  position: absolute;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.4s ease;
}
.nav.open {
  -webkit-transform: translate(-340px, 0);
  transform: translate(-340px, 0);
}

.form-control {
  margin: 5px;
}

.venueScore {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  padding: 7px 10px 5px 9px;
  width: 40px;
}

.positive {
  background: #00b551;
}

/*

$.ajax({
    url: searchLink
}).done(function(data) {
    // Adds the best photo to the infowindow
    if (data.response.venue.bestPhoto) {
        var bestPhoto = data.response.venue.bestPhoto.prefix + 'width250' + data.response.venue.bestPhoto.suffix;
        $('#photo').append('<img src="' + bestPhoto + '" class="img-thumbnail center-block">');
    } else {
        $('#photo').append('<p>No photos exist of this place. Suspicious?</p>');
    }
    // Adds the rating of the point of interest
    if (data.response.venue.rating) {
        var rating = data.response.venue.rating;
        $('#photo').append('<p> <h5>Foursquare Rating: <span class="venueScore positive"><span>' + rating + '</span><sup>/<span>10</span></sup></h5></p>');
    } else {
        $('#photo').append('<p>No rating available</p>');
    }
    // Adds the foursquare link of the point of interest
    if (data.response.venue.canonicalUrl) {
        var fsUrl = data.response.venue.canonicalUrl;
        $('#photo').append('<a href=' + fsUrl + '><button type="button" class="btn btn-primary center-block"> Foursquare link</button> </a>');
    } else {
        $('#photo').append('<p>No link available</p>');
    }
}).error(function() {
    alert("There is a problem with our Foursquare data, and you will not be able to see more information. Please come back later.");
})

*/
